*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background:  #212121;
    color: #FAFAFA;
}

.conatiner{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    height:600px;
    z-index: 2;
}
.content{
    margin-top: 100px;
    margin-left: 50px;
    background-color: inherit;
}
.content span{
 font-size: 1.6rem;
 font-weight: 700;
 color: #FFAB91;
}
.content h1{
    font-size: 2.7rem;
    font-weight:700;
    color: #8D6E63;
}
.content p{
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 15px;
}
.social{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #FFAB91;
    align-items: center;
}
.linkedIn{
    margin-top: 30px;
    font-size:2.5rem;
    border-radius: 50%;
    margin-right: 25px;
}
.linkedIn:hover{
    box-shadow: 1px 1px 10px  #FAFAFA;
}
.one{
    height: 430px;
    width: 430px;
    border-right: 1px  solid #81D4FA;
    border-top: 1px  solid rgb(237, 227, 227);
    position: absolute;
    top: 100px;
    right: 100px;
    rotate: 225deg;
    display: flex;
    justify-content: center;
    align-items: center;
   overflow: hidden;
}
.two{
    height: 420px;
    width: 420px;
    border-right: 1px  solid #81D4FA;
    border-top: 1px  solid rgb(237, 227, 227);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.three{
    height: 410px;
    width: 410px;
    border-right: 1px  solid #81D4FA;
    border-top: 1px  solid rgb(237, 227, 227);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

}
.four{
    height: 400px;
    width: 400px;
    border-right: 1px  solid rgb(237, 227, 227);
    border-top: 1px  solid rgb(237, 227, 227);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: transparent;
    
}
.photo{
    width: 400px;
    height:400px;
    position: absolute;
    rotate: 135deg;
    /* opacity: 0.9; */
    border-left: #212121 1px solid;  
    border-radius: 50%;
    animation: fadeIn 2s ease-in-out;
}
@keyframes fadeIn {
    0% {
      opacity: 0;
      rotate: 45deg;
    }
    25% {
      opacity: 0.25;
      rotate: 60deg;
    }
    50% {
      opacity: 0.35;
      rotate: 92deg;
    }
    75% {
        opacity: 0.55;
        rotate: 105deg;
      }
    100% {
        opacity: 8;
        rotate: 135deg;
      }
  }

  #cv{
    width: 120px;
    border-radius: 10px;
    background-color: transparent;
    margin-top: 20px;
    padding: 10px;
    font-size: 1rem;
    align-items: center;
    box-shadow: 1px 1px  1px 1px  #FFAB91;
  }
  #cv:hover{
    font-size: 1.1rem;
    font-weight: 500;
    box-shadow: 1px 1px 8px  #FFAB91;
  }

  .cvIcon{
    font-size: 1rem;
    margin-left: 10px;
    background-color: transparent;
    align-items: center;
  }